:root {
    --text-base: #AFB6C2;
    --text-base--light: #A9AFB9;
    --text-title: #D4CCB6;
    --background: #191816;
    --form-background: #24221F;
    --primary-color: #FFC632;  
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-base);
    background-color: var(--background);
}

main {
    max-width: 335px;
    margin: 0 auto;
}

@media (min-width: 612px) {
    .content {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    main {
        box-sizing: content-box;
        width: 572px;
        padding: 5.45rem 11.85rem;
        background-color: var(--form-background);
        border-radius: .4rem;
    }
}