.input-group input[type=password] {
    background-image: url(../../img/lock.svg);
}

.input-group input[type=password]:focus {
    background-image: url(../../img/lock-focus.svg);
}

.input-group__viewpass {
    width: 2rem;
    position: relative;
    right: -30.3rem;
    bottom: 3.1rem;
}

.input-group__viewpass input[type=checkbox] {
    display: none;
}

.input-group__viewpass input + label::after {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-image: url(../../img/eye.svg);
}

.input-group__viewpass input:checked + label::after {
    background-image: url(../../img/eye-focus.svg);
}

.input-group__viewpass label {
    margin: 0;
}