.main-title {
    margin-bottom: 2.7rem;
}

.main-title__title {
    margin-bottom: .5rem;
    padding-left: 3.4rem;
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--text-title);
    background-image: url(../../img/log-in.svg);
    background-repeat: no-repeat;
    background-position-y: 50%;
}

.main-title__description {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.3rem;
}