.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.main-footer p {
    margin-right: .4rem;
    font-weight: 400;
}

.main-footer a {
    font-weight: 600;
    text-decoration: none;
    color: var(--primary-color);
}